body {
  color: #222;
  background: #F3F3F3;
  overflow-x: hidden;
}

.logo {
  width: 120px;
}

.header {
  position: relative;
  z-index: 101;
  background: #F3F3F3;
}

.table-fixed {
  table-layout: fixed;
}

.container {
  max-width: 64rem;
  position: relative;
}

.mw {
  max-width: 48rem;
}

iframe {
  max-width: 100%;
  max-height: 250px;
  vertical-align: middle;
}

iframe {
  opacity: 0;
  transition: 2s ease all;
}

iframe.visible {
  opacity: 1;
}

@media(min-width: 64rem) {
  .hero {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
  
  .callout {
    padding: 3rem;
  }
  
  iframe {
    max-height: 575px;
  }
}